.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000;
    color: #FFF;
    border-bottom: 5px solid #FFD700;
}

.panel{
    position: relative;
    padding-top: 1rem;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    width: 150px;
    border: 2px solid #41443D;
    background-color: #5D6975;
    background-image: url("../images/stone.jpg");
    background-size: cover;
}

.square:hover{
    cursor: pointer;
}

.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.enemy:active{
    border-width: 5px;
    border-color: #888DA1;
    box-shadow: inset 0 0 10px 5px #888DA1;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 10px;
}

.disabler{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    z-index: 1;
}